.mainbox{
  margin: 1rem;
    border: solid black 2px;
    padding: 1rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    border-radius: 20px;
    width: 600px;
    margin-left: 0;

}

img{
    height: 40px;
    padding: 10px;
}

.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.image{
  width: 500px;
  height: 400px;
}

.pic{
  height: 100%;
}

  .bottom{
    margin: auto;
    display: flex;
    margin-top: 20px;
  }
  .like, .comment, .donation{
    margin: 0px 40px;
    font-weight: bold;
  }
  .donation{
    background-color: transparent;
    border: none;
    font-size: medium;
  }
   .donation:hover{
    text-shadow: 2px 2px 8px black;

  }
   .like:hover{
    text-shadow: 2px 2px 8px black;

  }
   .comment:hover{
    text-shadow: 2px 2px 8px black;

  }
  