.side-bar{
    width: 21.25rem;
    padding: 20px;
    background-color: #d8ddd6;
    /* transform: translateX(-165%); */
    position: absolute;
    left: 40px;
    top: 40px;
    border-radius: 20px;
    border: none;
    z-index: 1;
}

.side-bar .side-bar-profile{
    background-color: #fff;
    height: 30%;
    padding: 1rem;
    border-radius:20px ;
    margin-bottom:8px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
label{
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    border-radius: 50%;
    box-shadow: 0 0 8px black;
    margin : 0.5rem;
    z-index: 0;
    
}
label img{
    z-index: 1;
    height: 20000px;
}
#side-bar-profile-photo{
    display: none;
}

.side-bar-options{
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    padding: 30px 0;
    border-radius: 20px;

}
.side-bar-name{
    color: black;
    font-family: 'Montaga', serif; 
}
.side-bar-options button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 4rem;
    margin: 0;
    border-radius: 0;
    color: black;
    font-size: 25px;
    transform: translate(0,30px);
    
}
.side-bar-options button:hover{
    background-color: #6d44b8;
    color: black;
}

.side-bar-btn,.side-bar-upload-btn{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 10px;
    text-decoration: none;
    width: 90%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}
.side-bar-upload-btn{
    background-color: white;
    border-radius: 10px;
}
.side-bar-upload-btn:hover{
    background-color: black;
    color: white;
}

.side-bar-btn:hover{
    background-color: black ;
    color: white;
}

 .side-bar-options .side-bar-btn i {
    /* margin-right: 1rem ; */
    opacity: 0.7;
    position: absolute;
    left: 20%;

}

.upload-post{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-post .upload-post-btn{
    height: 4rem;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
    transition: 0.5s ease;
}
.upload-post .upload-post-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}